<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>All Standard Ops (No Undo)</string>
		<key>operations</key>
		<array>
			<string>Adding waypoints a,b,c and d</string>
			<dict>
				<key>data</key>
				<integer>49</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>18</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>22</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>47</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>operation</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>4</integer>
				<key>operation</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<string>Deleting &apos;B&apos;</string>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Deleting &apos;C&apos;</string>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Seting A -&gt; D</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Inserting &apos;e&apos; on arrow A→D</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<string>A→E</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→D</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D→*</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<string>Add new standalone waypoint &apos;F&apos;</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>11</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Connect F to E</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Connect E to A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Connect A to F</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Delete Arrow F→E</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Set next: D→E</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint &apos;G&apos;</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>72</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint &apos;H&apos;</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>74</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint &apos;I&apos;</string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>79</integer>
				<key>operation</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Remove &apos;F&apos;</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Set Next: I→A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Delete arrow from &apos;D&apos;</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Set next E→D </string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Set next A→G </string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Set next G→H </string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Set next H→E </string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Insert &apos;J&apos;</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_ADD</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<integer>6</integer>
				<key>operation</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>7</integer>
				<key>operation</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_ABSENCE</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A→G</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G→H</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>H→E</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→D</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I→J</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>J</string>
				<key>operation</key>
				<string>VALIDATE_ARROW_POSITION</string>
			</dict>
			<string>Delete Arrow &apos;E&apos;</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete Arrow &apos;A&apos;</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete Arrow &apos;G&apos;</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>operation</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>7</integer>
				<key>operation</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A→*</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→*</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G→*</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<string>Delete &apos;A&apos;</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;G&apos;</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;H&apos;</string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;J&apos;</string>
			<dict>
				<key>data</key>
				<string>J</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;E&apos;</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;D&apos;</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete &apos;I&apos;</string>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>operation</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>operation</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<integer>0</integer>
				<key>operation</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>0</integer>
				<key>operation</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Standalone Undos</string>
		<key>operations</key>
		<array>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>9</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>11</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>15</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>36</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>7</integer>
				<key>operation</key>
				<string>UNDO</string>
			</dict>
			<dict>
				<key>data</key>
				<string>C,D</string>
				<key>operation</key>
				<string>DELETED_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>5</integer>
				<key>operation</key>
				<string>REDO</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>2</integer>
				<key>operation</key>
				<string>UNDO</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>1</integer>
				<key>operation</key>
				<string>REDO</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>operation</key>
				<string>DELETED_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>operation</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>operation</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Extension Undos</string>
		<key>operations</key>
		<array>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>9,11,15</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>operation</key>
				<string>SELECT_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>55</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_WAYPOINTS_TO_ZONES</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
