<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>skip</key>
		<false/>
		<key>name</key>
		<string>EasyThree</string>
		<key>operations</key>
		<array>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>41,102,15</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_NODES_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>DELETE_ARROW</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>DELETE_NODE</string>
			</dict>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>operation</key>
				<string>INSERT_NODE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>2</integer>
				<key>operation</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>2</integer>
				<key>operation</key>
				<string>COUNT_ARROW_MAP</string>
			</dict>
			<dict>
				<key>data</key>
				<string>B→D</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>C→*</string>
				<key>operation</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>skip</key>
		<false/>
		<key>name</key>
		<string>SimpleDelete</string>
		<key>operations</key>
		<array>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>41</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_NODES_TO_ZONES</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>operation</key>
				<string>DELETE_NODE</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>skip</key>
		<false/>
		<key>name</key>
		<string>AddToZones</string>
		<key>operations</key>
		<array>
			<dict>
				<key>data</key>
				<dict>
					<key>zones</key>
					<string>41, 51, 61</string>
					<key>connected</key>
					<true/>
				</dict>
				<key>operation</key>
				<string>ADD_NODES_TO_ZONES</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
