<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>All Standard Ops (No Undo)</string>
        <key>operations</key>
        <array>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>49,18,22,47</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>B</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>C</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>2</integer>
                <key>operation</key>
                <string>COUNT_WAYPOINTS</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→D</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_PRESENCE</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>INSERT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>11</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>F→E</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E→A</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→F</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→F</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>F→E</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E→A</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D→*</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>3</integer>
                <key>operation</key>
                <string>COUNT_ARROWS</string>
            </dict>
            <dict>
                <key>data</key>
                <string>F</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>F</string>
                <key>operation</key>
                <string>DELETE_ARROW</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D→E</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>72</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>74</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>79</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>F</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>I→A</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D</string>
                <key>operation</key>
                <string>DELETE_ARROW</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E→D</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→G</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G→H</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>H→E</string>
                <key>operation</key>
                <string>SET_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>I</string>
                <key>operation</key>
                <string>INSERT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>6</integer>
                <key>operation</key>
                <string>COUNT_ARROWS</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>7</integer>
                <key>operation</key>
                <string>COUNT_WAYPOINTS</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_ABSENCE</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→G</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G→H</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>H→E</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E→D</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>I→J</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>H</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>I</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>J</string>
                <key>operation</key>
                <string>VALIDATE_ARROW_POSITION</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E</string>
                <key>operation</key>
                <string>DELETE_ARROW</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>DELETE_ARROW</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G</string>
                <key>operation</key>
                <string>DELETE_ARROW</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>3</integer>
                <key>operation</key>
                <string>COUNT_ARROWS</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>7</integer>
                <key>operation</key>
                <string>COUNT_WAYPOINTS</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A→*</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E→*</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G→*</string>
                <key>operation</key>
                <string>VALIDATE_ROUTE_NEXT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>G</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>H</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>J</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>E</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>I</string>
                <key>operation</key>
                <string>DELETE_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>0</integer>
                <key>operation</key>
                <string>COUNT_ARROWS</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>0</integer>
                <key>operation</key>
                <string>COUNT_WAYPOINTS</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>Standalone Undos</string>
        <key>operations</key>
        <array>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>9</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>11</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>15</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>C</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>36</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>7</integer>
                <key>operation</key>
                <string>UNDO</string>
            </dict>
            <dict>
                <key>data</key>
                <string>C,D</string>
                <key>operation</key>
                <string>DELETED_WAYPOINTS</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>5</integer>
                <key>operation</key>
                <string>REDO</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>2</integer>
                <key>operation</key>
                <string>UNDO</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>1</integer>
                <key>operation</key>
                <string>REDO</string>
            </dict>
            <dict>
                <key>data</key>
                <string>D</string>
                <key>operation</key>
                <string>DELETED_WAYPOINTS</string>
            </dict>
            <dict>
                <key>data</key>
                <string>*</string>
                <key>operation</key>
                <string>VALIDATE_SELECTION</string>
            </dict>
            <dict>
                <key>data</key>
                <integer>3</integer>
                <key>operation</key>
                <string>COUNT_WAYPOINTS</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>Extension Undos</string>
        <key>operations</key>
        <array>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>9,11,15</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
            <dict>
                <key>data</key>
                <string>A</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <string>B</string>
                <key>operation</key>
                <string>SELECT_WAYPOINT</string>
            </dict>
            <dict>
                <key>data</key>
                <dict>
                    <key>zones</key>
                    <string>55</string>
                    <key>connected</key>
                    <true/>
                </dict>
                <key>operation</key>
                <string>ADD_WAYPOINTS_TO_ZONES</string>
            </dict>
        </array>
    </dict>
</array>
</plist>
