<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TestNine.plist
   RouteSimulator

   Created by Paul Patterson on 11/10/2019.
   Copyright (c) 2019 Paul Patterson. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>Drawing Circular Relationships</string>
		<key>operations</key>
		<array>
			
		</array>
	</dict>
</plist>
