<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>Testing Extending and Rerouting</string>
        <key>operations</key>
        <array>
            <string>Three connected nodes, l to r</string>
		    <dict>
		        <key>data</key>
		        <integer>48</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>51</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>55</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
			<string>Three connected nodes, r to l</string>
		    <dict>
		        <key>data</key>
		        <string>C</string>
		        <key>name</key>
		        <string>TAP_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>31</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>27</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>25</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
			<string>Rerouting E to B</string>
		    <dict>
		        <key>data</key>
		        <string>E</string>
		        <key>name</key>
		        <string>TAP_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>B</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
			<string>Rerouting C to D</string>
		    <dict>
		        <key>data</key>
		        <string>C</string>
		        <key>name</key>
		        <string>TAP_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
			<string>5 undos, two redos</string>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_REDO</string>
		    </dict>
			<string>TESTS</string>
		    <dict>
		        <key>data</key>
		        <integer>6</integer>
		        <key>name</key>
		        <string>COUNT_WAYPOINTS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>4</integer>
		        <key>name</key>
		        <string>COUNT_ARROWS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>F</string>
		        <key>name</key>
		        <string>VALIDATE_SELECTION</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>E→F</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
        </array>
    </dict>
</plist>