<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Testing Extending and Rerouting</string>
		<key>operations</key>
		<array>
			<string>Three connected circles, l to r</string>
			<dict>
				<key>data</key>
				<integer>48</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>51</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>55</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Three connected circles, r to l</string>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>31</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>27</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>25</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Rerouting E to B</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Rerouting C to D</string>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>5 undos, two redos</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REDO</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<integer>6</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>4</integer>
				<key>name</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>name</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→F</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Adding and Undoing</string>
		<key>operations</key>
		<array>
			<string>Adding A</string>
			<dict>
				<key>data</key>
				<integer>49</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Adding B</string>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>60</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Adding C</string>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>30</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Two Undos, One Redo</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REDO</string>
			</dict>
			<string>Tests</string>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>name</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>2</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>All Standard Ops (No Undo)</string>
		<key>operations</key>
		<array>
			<string>Adding waypoints a,b,c and d</string>
			<dict>
				<key>data</key>
				<integer>49</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>18</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>22</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>47</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Tests</string>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>name</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>4</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<string>Deleting B</string>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Deleting C</string>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Setting A → D</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Inserting E on arrow A → D</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Tests</string>
			<dict>
				<key>data</key>
				<string>A→E</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→D</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D→*</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<string>Add new standalone waypoint F</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>11</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting F → E</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting E → A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting A → F</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Delete Arrow Connecting F and E</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Setting D → E</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint G</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>72</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint H</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>74</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>New standalone waypoint I</string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>79</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Remove F</string>
			<dict>
				<key>data</key>
				<string>F</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Setting I → A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Delete arrow from D</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Setting E → D</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting A → G </string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting G → H </string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Setting H → E </string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Insert J</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Tests</string>
			<dict>
				<key>data</key>
				<integer>6</integer>
				<key>name</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>7</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>VALIDATE_ARROW_ABSENCE</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A→G</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G→H</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>H→E</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→D</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I→J</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<dict>
				<key>data</key>
				<string>J</string>
				<key>name</key>
				<string>VALIDATE_ARROW_LOCATION</string>
			</dict>
			<string>Delete Arrow From E</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete Arrow From A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete Arrow From G</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_ARROW</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>TESTS</string>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>name</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>7</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
			<dict>
				<key>data</key>
				<string>A→*</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>E→*</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>G→*</string>
				<key>name</key>
				<string>VALIDATE_ROUTE_NEXT</string>
			</dict>
			<string>Delete A</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete G</string>
			<dict>
				<key>data</key>
				<string>G</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete H</string>
			<dict>
				<key>data</key>
				<string>H</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete J</string>
			<dict>
				<key>data</key>
				<string>J</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete E</string>
			<dict>
				<key>data</key>
				<string>E</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete D</string>
			<dict>
				<key>data</key>
				<string>D</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Delete I</string>
			<dict>
				<key>data</key>
				<string>I</string>
				<key>name</key>
				<string>SET_CROSSHAIRS_ON_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Tests</string>
			<dict>
				<key>data</key>
				<integer>0</integer>
				<key>name</key>
				<string>COUNT_ARROWS</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>0</integer>
				<key>name</key>
				<string>COUNT_WAYPOINTS</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
