<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Connecting Two Standalones, then Undoing</string>
		<key>operations</key>
		<array>
			<string>Inserting two standalone, then extending</string>
			<dict>
				<key>data</key>
				<integer>17</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>23</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>75</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Messing about with selection</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>3</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<string>C</string>
				<key>name</key>
				<string>TAP_WAYPOINT</string>
			</dict>
			<string>Undo Once</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<string>Test</string>
			<dict>
				<key>data</key>
				<string>*</string>
				<key>name</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
			<string>Undo Again</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<string>Test</string>
			<dict>
				<key>data</key>
				<string>B</string>
				<key>name</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
			<string>Final Undo</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<string>Test</string>
			<dict>
				<key>data</key>
				<string>A</string>
				<key>name</key>
				<string>VALIDATE_SELECTION</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
