<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TestSix.plist
   RouteSimulator

   Created by Paul Patterson on 10/10/2019.
   Copyright (c) 2019 Paul Patterson. All rights reserved.
-->
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Connecting Two Standalones, then Undoing</string>
		<key>operations</key>
		<array>
			<string>A Square of circles</string>
		    <dict>
		        <key>data</key>
		        <integer>9</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>49</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>54</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>14</integer>
		        <key>name</key>
		        <string>MOVE_CROSSHAIRS_TO_ZONE</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>A</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_ADD</string>
		    </dict>
			<string>Selecting D</string>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>TAP_WAYPOINT</string>
		    </dict>
			<string>Removing D</string>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_REMOVE</string>
		    </dict>
		    <string>Tests</string>
		    <dict>
		        <key>data</key>
		        <string>C→*</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>3</integer>
		        <key>name</key>
		        <string>COUNT_WAYPOINTS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <integer>2</integer>
		        <key>name</key>
		        <string>COUNT_ARROWS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>A</string>
		        <key>name</key>
		        <string>VALIDATE_ARROW_LOCATION</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>B</string>
		        <key>name</key>
		        <string>VALIDATE_ARROW_LOCATION</string>
		    </dict>
			<string>Three Undos</string>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
		    <dict>
		        <key>name</key>
		        <string>TAP_UNDO</string>
		    </dict>
			<string>Tests</string>
		    <dict>
		        <key>data</key>
		        <integer>3</integer>
		        <key>name</key>
		        <string>COUNT_ARROWS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>A→B</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>B→C</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>C→D</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>D→*</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>VALIDATE_SELECTION</string>
		    </dict>
			<string>A quick redo</string>
		    <dict>
		        <key>name</key>
		        <string>TAP_REDO</string>
		    </dict>
			<string>Tests</string>
		    <dict>
		        <key>data</key>
		        <string>C→D</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>A</string>
		        <key>name</key>
		        <string>VALIDATE_SELECTION</string>
		    </dict>
		</array>
	</dict>
</array>
</plist>