<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TestSeven.plist
   RouteSimulator

   Created by Paul Patterson on 11/10/2019.
   Copyright (c) 2019 Paul Patterson. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>name</key>
		<string>Deleting Arrows</string>
		<key>operations</key>
		<array>
			<string>Adding Four Waypoints</string>
			<dict>
				<key>data</key>
				<integer>33</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>66</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>69</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_EMPTY_ZONE</string>
			</dict>
			<dict>
				<key>data</key>
				<integer>15</integer>
				<key>name</key>
				<string>MOVE_CROSSHAIRS_TO_ZONE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Removing Arrows A and B</string>
		    <dict>
		        <key>data</key>
		        <string>A</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_ARROW</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
		    <dict>
		        <key>data</key>
		        <string>B</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_ARROW</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_REMOVE</string>
			</dict>
			<string>Rerouting</string>
		    <dict>
		        <key>data</key>
		        <string>C</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
		    <dict>
		        <key>data</key>
		        <string>B</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
		    <dict>
		        <key>data</key>
		        <string>A</string>
		        <key>name</key>
		        <string>TAP_WAYPOINT</string>
		    </dict> 
		    <dict>
		        <key>data</key>
		        <string>C</string>
		        <key>name</key>
		        <string>SET_CROSSHAIRS_ON_WAYPOINT</string>
		    </dict>
			<dict>
				<key>name</key>
				<string>TAP_ADD</string>
			</dict>
			<string>Undo (5), Redo (2)</string>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_UNDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REDO</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAP_REDO</string>
			</dict>
			<string>Tests</string>
		    <dict>
		        <key>data</key>
		        <integer>2</integer>
		        <key>name</key>
		        <string>COUNT_ARROWS</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>D→C</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>C→B</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>A→*</string>
		        <key>name</key>
		        <string>VALIDATE_ROUTE_NEXT</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>D</string>
		        <key>name</key>
		        <string>VALIDATE_ARROW_LOCATION</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>C</string>
		        <key>name</key>
		        <string>VALIDATE_ARROW_LOCATION</string>
		    </dict>
		    <dict>
		        <key>data</key>
		        <string>B</string>
		        <key>name</key>
		        <string>VALIDATE_SELECTION</string>
		    </dict>
		</array>
	</dict>
</plist>
